body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.page-section {
  background-color: #2e2f42;
}

.one-name {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
}

.button {
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  background-color: #4d5ae5;
  cursor: pointer;
  color: #ffffff;
}
.button-klick:hover,
.button-klick:focus {
  background-color: #404bbf;
}

.section-span {
  color: #fff;
  text-align: center;
}

.section-list {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.two-name {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.name-list {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.section-team {
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.name-people {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item {
  background-color: #fff;
  text-align: center;
}

.text-trade {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}

.portfolio {
  background-color: #fff;
  text-align: left;
  letter-spacing: 0.02em;
}

.portfolio-name {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.comment {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
}
